//
//	Main Scss Imports
//	------------------------------
//

.boards { margin: 20px 0; overflow: hidden; }
.board { border: 5px solid #ccc; float: left; font: 700 24px HelveticaNeue, Helvetica, Arial; margin-right: 20px; padding: 20px; }
.board.selected { border-color: #3BA8AA; }



body{
	padding: 80px 0 0;
}

.answer{
	background: #ddd;
	border-radius: 4px;
	padding: 18px 24px;
	cursor: pointer;
	font-size: 2em;
	line-height: 1em;
	&:hover{
		background: #aaa;
	}
	&.picked {
		background-color: rgb(100,170,110);
		.fa-check {
			display: inline-block;
		}
	}
	.fa-check {
		font-size: 1em;
		color: white;
		display: none;
	}
}

.hoverinfo {
	@media (max-width: 650px){
		right: 0 !important;
		left: 0 !important;
	}
	background: rgba(0,0,0,0.8) !important;
	padding: 20px 20px 10px !important;
	max-width: 400px;
	border: 1px solid #222 !important;
	color: white;
	h4{
		margin: 0 0 10px;
		font-size: 1.3em;
	}
}

@media (max-width: 650px){
	.datamaps-hoverover {
		position: relative !important;
		left: 0px !important;
		right: 0px !important;
		max-width: 100% !important;
	}
	.labels {
		display: none;
	}
}